.bgOne{
    background-image: url(../assets/bg-img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }

  .bgTwo{
    background-image: url(../assets/bg-img-2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }

  .bgThree{
    background-image: url(../assets/bg-img-3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }

  .bgFour{
    background-image: url(../assets/bg-img-4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
