$primaryColor: white;
$secondaryColor: #FFFADA;
$tertiaryColor: black;
$firstLetterSpacing: 2px;
$firstFontFamily: 'Times New Roman', Times, serif;
$secondFontFamily: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 